<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.category.capitalize %></p>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<br><br><br>
<div>
  <% @restaurant.reviews.each do |review| %>
    <p>Rating: <%= review.rating %></p>
    <p>Review: <%= review.content %></p>
  <% end %>
</div>
<%= render './reviews/form' %>
<br><br><br>
<h3><%= link_to "Back to restaurant listings", restaurants_path, class: "btn btn-light" %></h3>
